*
{
    padding: 0;
    margin: 0;
}
.container-fluid
{
    padding: 0;
}

#navPart
{
    color: white;
    max-width: 20%;
    background-color: rgb(36, 36, 36);
    text-align: center;
    min-height: 1000px;
}
#listContainer
{
    max-width: 100%;
}
.btn
{
    width: 100%;
    background-color: rgb(139, 0, 253);
    margin: 0;
    border: none;
}
.navbar-nav
{
    width: 100%;
}
.row
{
    width: 100%;
    margin: 0;
}
.rowDigi
{
    align-items: center;
    border: solid 2px;
    border-color: rgb(146, 146, 146);
    margin: 0;
}
.colDigi
{
    padding: 0;
}
.digiName
{
    font-weight: 700;
    color: rgb(56, 56, 56);
}
#listDigimon
{
    max-height: 470px;
    overflow-y: scroll;
}
#listDigimon img
{
    width: 100%;
}
#containerDigiList
{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 20px;
}
.row::-webkit-scrollbar {
  width: 1em;
}
 
.row::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.row::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

@media only screen and (max-width: 768px) {
   #navPart
   {
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
   }
   .colDigi
   {
    width: 50%;
   }
   .col-md-12
   {
    align-items: center;
    justify-content: center;
    text-align: center;
   }
   img
   {
    width: 100%;
   }
   div #myChart
   {
    min-height: 150px;
   }
  }